.main_container {
    display: flex;
    height: 100%;
    width: 100%;
}

.top_section-container {
    background-image: url("../images/tableBackground.svg");
    height: 40vh;
    width: 100vw;
    position: absolute;
    /* z-index: -1; */
    object-fit: cover;
    background-repeat: no-repeat;
}
.reservation_container-name {
    display: flex;
    justify-content: flex-start;
    width: 200px;
}
.form-dinein {
    display: flex;
    margin-top: 500px;
}

.reservation_bar {
}
