.main_container {
    display: flex;
}

.top_section-container {
    background-image: url("../images/tableBackground.svg");
    height: 40vh;
    width: 100vw;
    position: absolute;
    /* z-index: -1; */
    object-fit: cover;
    background-repeat: no-repeat;
}

.form-dinein {
    display: flex;
    margin-top: 500px;
}

.reservation_bar {
}
